
.column {
    border: 1px solid red;
    margin: 2%;
}
.card {
    border: 1px solid blue;
    text-align: center;
    padding: 5%;
    background-color: lightblue;
}

.card-radius {
    height: 100% !important;
}

h1 {
    font-weight: bolder;
    margin: 20% 0%;
}

h2 {
    margin: 20% 0%;
}

button {
    margin: 10% 0%;
    color: white;
    background-color: black;
    border-radius: 10%;
    padding: 2%;
}