
.columns {
    background-color: rgb(41, 41, 41);
    margin-bottom: 0% !important;
}
.column {
    /* border: 1px solid red; */
    margin: 2%;
}
.card {
    border: 1px solid blue;
    text-align: center;
    padding: 5%;
    background-color: lightblue;
}

.card-radius {
    height: 100% !important;
}

h1 {
    font-weight: bolder;
    margin: 20% 0%;
}

h2 {
    margin: 20% 0%;
}

.button {
    margin: 10% 0%;
    color: black;
    padding: 2%;
}

#myHeaderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: rgb(20, 20, 20);
    border-bottom:rgb(15, 206, 25) 1px solid;
    padding: 10%;
}

.ourFooter {
    position: sticky;
    max-height:20%;
    width: 100%;
    max-width:100%;
    margin: 0;
}

.ourFooterContainer {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width:100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: center ;
    flex-wrap: wrap;
    padding: .25%;
}

#logo {
    height:150px;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

#commontext {
    color: rgb(15, 206, 25);
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#logoImg{
    width: 10%;
    height: 10%;
    position: absolute;
    margin-left: 3%;
    cursor: pointer;
}

#myListCard {
    display: flex;
    flex-direction: column;
    background-image: url("./pickolascage.jpg");
}

.resultContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(41, 41, 41);
    position: relative;
    width: 100%;
    height: 70vh;
}
.innerResultContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    height: 80%;
    width: 50%;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    box-shadow: 0px 4px 11px 3px rgba(0,0,0,0.34);
}
.innerResultContainer.flipped {
    transform: rotateY(180deg);
  }

.listFront{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.listBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
}

.resultImg{
    margin-top: 20px;
    margin-bottom: 20px;
    height:45%;
    max-height: 50%;
    width: 30%;
    max-width: 35;
    overflow: hidden;
}
.hidden {
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.listInfo{
    width: 100%;
    max-width: 100%;
    height:10%;
    max-height: 15%;
    border-top: 2px dashed rgb(15, 206, 25);
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}